.auth {
  width: 50%;
  padding: 20px;
  border-right: 1px dashed;
}

h1 {
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .auth {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed;
  }
}
