.collection{
    background-color: #F7F7F7;   
    
    &:hover{
        color: grey;
    }
    .sortBy{
        text-decoration: none;
        color: grey;
        &:hover{
            color:white;
        }
    } 
}

.elem{
    text-align: center;
    margin:30px 0;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    &:hover{
        background-color: silver;
    }
  
}

